@import "tailwindcss";

@theme {
  --color-primary: #181818;
  --color-secondary: #1b1b1b;
  --font-poppins: var(--font-poppins);
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  background-color: var(--color-secondary);
}
