@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --color-primary: #111827;
  --color-secondary: #1f2937;
}

html {
  color-scheme: dark light;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  background-color: var(--color-primary);
}
